{{> parts/header }}
<img src="../img/welcome-to-burlington.jpg" class="img-fluid home-img" alt="View of the pier at Spencer Park in Burlington">

<main class="container">

</main>

{{> parts/footer }}
