{{> parts/header }}

<main class="container">
  <h1>Places to visit in Burlington</h1>
  <h3>The Royal Botanical Gardens</h3>
  <img src="../img/rbg.jpg" class="img-fluid img-cover" alt="Pond with sculpture in Royal Botanical Gardens">


  <div class="container">
    <div class="row">
      <div class="col-6">
        <p><strong>The Royal Botanical Gardens</strong> is not only a “living museum” of plants and wildlife, but also host to an eclectic roster of arts and culture events and special programs all year. In addition there is the International Sculpture Collection in Hendrie Garden which permanently showcases works from around the world. Marvel in one of Mother Nature’s ecological splendours.</p>
      </div>
      <div class="col-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11615.693702016935!2d-79.8815839220374!3d43.29492526913924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882c9cf636209a13%3A0xc735e07b688aa88b!2sRoyal%20Botanical%20Gardens!5e0!3m2!1sen!2sca!4v1647358640610!5m2!1sen!2sca" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

      </div>
    </div>
  </div>

  <hr>

  <h3>Art Gallery of Burlington</h3>
  <img src="../img/art.jpg" class="img-fluid img-cover" alt="Pond with sculpture in Royal Botanical Gardens">

  <div class="container">
    <div class="row">
      <div class="col-6">
        <p><strong>The Art Gallery of Burlington</strong> is Burlington’s public art gallery and community centre. It's a place of intersection where creators, cultures and communities meet and share in the wealth of human creativity. The gallery is home to an acclaimed collection of contemporary Canadian Ceramics, with over 2,000 pieces in the collection. The Art Etc. Gift Shop is part of the Art Gallery of Burlington and specializes in Canadian hand crafted items, all of which are carefully selected by the shop’s selection committee.</p>
      </div>
      <div class="col-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5805.0237933996905!2d-79.79958592268854!3d43.32447626653566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882c9e3be036103f%3A0xc64b49ae49422839!2sArt%20Gallery%20of%20Burlington!5e0!3m2!1sen!2sca!4v1647359812904!5m2!1sen!2sca" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>

  <hr>

  <h3>Bronte Creek Provincial Park</h3>
  <img src="../img/park.jpg" class="img-fluid img-cover" alt="Pond with sculpture in Royal Botanical Gardens">

  <div class="container">
    <div class="row">
      <div class="col-6">
        <p><strong>Bronte Creek Provincial Park</strong> is the perfect destination for your family.  Visit the much loved Children’s Farm and Playbarn, experience history at our Spruce Lane Farm, swim in our outdoor pool or relax at one of our campsites.  Visit farm animals, or picnic with friends! During the winter the annual Christmas festival.  Campground access via Bronte Road only. Day use area access off Burloak Dr.</p>
      </div>
      <div class="col-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2898.596847770737!2d-79.77350368451027!3d43.40635517913047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b6732ff9f7971%3A0x301019998a11f40!2sBronte%20Creek%20Provincial%20Park!5e0!3m2!1sen!2sca!4v1647361184028!5m2!1sen!2sca" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>      </div>
    </div>
  </div>

</main>

{{> parts/footer }}
