<footer class="social-media">
    <h2 id="footer-contacts">contacts</h2>
    <a href="https://www.facebook.com" target="_blank">
        <img src="../../img/social-media/facebook-icon.png" alt="hyperlink to the facebook page">
    </a>

    <a href="https://www.linkedin.com" target="_blank">
        <img src="../../img/social-media/in-icon.png" alt="hyperlink to the linkedin page">
    </a>

    <a href="https://www.instagram.com" target="_blank">
        <img src="../../img/social-media/instagram-icon.png" alt="hyperlink to the instagram page">
    </a>

    <a href="https://www.twitter.com" target="_blank">
        <img src="../../img/social-media/twitter-icon.png" alt="hyperlink to the twitter page">
    </a>
</footer>
</body>
</html>