<footer>
  <section class="container">
    Web Application Design - WDDM-121 | Eleventy website assignment | Student Olha Holovina © 2022. All rights reserved, I guess))
  </section>
</footer>
</body>
</html>
